
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epic Button Game</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket  = io.connect();
            
                $('#bigButton').click(function(){
                    var clicked = $("#counter").text();
                    socket.emit("clicked", {'counter':clicked});
                });
            
                $('#resetButton').click(function(){
                    var reset = 0;
                    socket.emit("reset", {'reset':reset});
                });

                socket.on('server_response', function (data){
                    document.getElementById("counter").innerHTML = data.click;
                });
            });

        </script>
    </head>
    <body>
        <div id="container">
            <h1 class="center">You pushed the button <span id="counter">0</span> time(s)</h1>
            <br>
            <button id="bigButton">Push this enormous button - save the world!</button>
            <br>
            <button id="resetButton">Reset</button>
        </div>
    </body>
    </html>